<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <h2 class="mb-4 text-center">Precios</h2>
    <div class="grid">
        <!-- Plan Gratuito -->
        <div class="col-12 md:col-6 lg:col-3">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                    <div class="text-900 font-medium text-xl mb-2 larger-text">Gratis</div>
                    <div class="text-600 larger-text">Prueba de 7 días</div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <div class="flex align-items-center">
                        <span class="font-bold text-2xl text-900 larger-text">$0</span>
                        <span class="ml-2 font-medium text-600 larger-text">por 7 días</span>
                    </div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Acceso a todas las funciones básicas</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Soporte técnico básico</span>
                        </li>
                    </ul>
                    <hr class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto" />
                    <button pButton pRipple label="Comienza Ahora" class="p-3 w-full mt-auto larger-text"></button>
                </div>
            </div>
        </div>
        <!-- Plan Básico -->
        <div class="col-12 md:col-6 lg:col-3">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                    <div class="text-900 font-medium text-xl mb-2 larger-text">Básico</div>
                    <div class="text-600 larger-text">Plan mensual</div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <div class="flex align-items-center">
                        <span class="font-bold text-2xl text-900 larger-text">$9.99</span>
                        <span class="ml-2 font-medium text-600 larger-text">por mes</span>
                    </div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Crea y gestiona catálogos de productos de manera sencilla</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Publica y actualiza productos, categorías, variantes y extras sin complicaciones</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Realiza pedidos fácilmente a través de WhatsApp, aumentando tus ventas</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Interfaz intuitiva que facilita la experiencia de compra de tus clientes</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Gestiona el estado de los pedidos y envía notificaciones automáticas a los clientes cuando su pedido esté listo</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Soporte técnico básico para ayudarte con cualquier pregunta o problema</span>
                        </li>
                    </ul>
                    <hr class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto" />
                    <button pButton pRipple label="Compra Ahora" class="p-3 w-full mt-auto larger-text"></button>
                    
                </div>
            </div>
        </div>
        <!-- Plan Premium -->
        <div class="col-12 md:col-6 lg:col-3">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                    <div class="text-900 font-medium text-xl mb-2 larger-text">Premium</div>
                    <div class="text-600 larger-text">Plan de 6 meses</div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <div class="flex align-items-center">
                        <span class="font-bold text-2xl text-900 larger-text">$44.99</span>
                        <span class="ml-2 font-medium text-600 larger-text">por 6 meses</span>
                    </div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Todo en el Plan Básico, pero con un descuento significativo</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Descuentos exclusivos en nuevos productos para tus clientes</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Soporte prioritario para una resolución rápida de tus consultas</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Acceso a actualizaciones y mejoras continuas para mantener tu sistema siempre al día</span>
                        </li>
                    </ul>
                    <hr class="mb-3 mx-0 border-top-1 border-none surface-border" />
                    <button pButton pRipple label="Compra Ahora" class="p-3 w-full larger-text"></button>
                </div>
            </div>
        </div>
        <!-- Plan Enterprise -->
        <div class="col-12 md:col-6 lg:col-3">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 flex flex-column surface-card" style="border-radius: 6px">
                    <div class="text-900 font-medium text-xl mb-2 larger-text">Enterprise</div>
                    <div class="text-600 larger-text">Plan de 12 meses</div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <div class="flex align-items-center">
                        <span class="font-bold text-2xl text-900 larger-text">$77.99</span>
                        <span class="ml-2 font-medium text-600 larger-text">por 12 meses</span>
                    </div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Todo en el Plan Premium con un mayor ahorro</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Acceso anticipado a nuevas funcionalidades para estar siempre a la vanguardia</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Consultoría personalizada para optimizar el uso de nuestro sistema</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2" style="font-size: 2rem"></i>
                            <span class="text-900 larger-text">Soporte técnico exclusivo con tiempos de respuesta más rápidos</span>
                        </li>
                    </ul>
                    <hr class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto" />
                    <button pButton pRipple label="Compra Ahora" class="p-3 w-full mt-auto larger-text"></button>
                </div>
            </div>
        </div>
    </div>
</div>