form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  .direction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .field{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
}