<footer class="footer">
    <div class="footer__contenedor">
      <div class="footer__grid">
        <div class="footer__logo">
          <img src="/assets/img/logo-blanco.svg" alt="logo blanco nucleus" />
        </div>

        <nav class="navegacion">
          <a href="#" class="navegacion__link navegacion__link--blanco"
            >¿Qué es?</a
          >
          <a href="#" class="navegacion__link navegacion__link--blanco"
            >¿Cómo Funciona?</a
          >
          <a href="#" class="navegacion__link navegacion__link--blanco"
            >Precios</a
          >
          <a href="#" class="navegacion__link navegacion__link--blanco"
            >Contratar</a
          >
        </nav>
      </div>
    </div>
  </footer>