<div class="card flex justify-content-center">
    <p-button (onClick)="showDialog()" label="Comienza Ahora" pRipple/>
    <p-dialog [header]="plan.price != 0 ? 'Metódos de Pago' : 'Comienza Ahora Gratis'" [(visible)]="visible" [modal]="true"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '70vw' }" [draggable]="false"
        [resizable]="false">
        <div class="payment-method">
            <div class="paypal">
                <h3 *ngIf="plan.price != 0">Elija su forma de pago: PayPal, tarjeta de crédito o débito</h3>
                <div #paypal></div>
            </div>
        </div>
    </p-dialog>
</div>