<header class="header">
    <div class="header__contenedor">
      <div class="header__barra">
        <div class="header__logo">
         
          <!-- <img src="/assets/img/logowhapp.webp" alt="logo nucleus" /> -->
        </div>

        <nav class="navegacion">
          <a href="#" class="navegacion__link">¿Qué es?</a>
          <a href="#" class="navegacion__link">¿Cómo Funciona?</a>
          <a href="#" class="navegacion__link">Precios</a>
          <a href="#" class="navegacion__link">Contratar</a>
        </nav>
      </div>

      <div class="header__grid">
        <div class="header__texto">
          <h1 class="header__heading">
            Empieza a recibir pedidos por WhatsApp
          </h1>
          <p>
            Transforma WhatsApp en tu plataforma de ventas. Diseña un
            menú/catálogo digital para tu negocio y
            facilita los pedidos de tus clientes.
          </p>
          <a class="header__boton" href="#">Registra tu Negocio</a>
        </div>

        <div class="header__grafico">
          <!-- <img
            class="header__imagen"
            src="/assets/img/promo1.png"
            alt="imagen nucleus app "
          /> -->
        </div>
      </div>
    </div>
  </header>
