<main class="nucleus">
  <h2 class="nucleus__heading">¿Qué es WhappStore?</h2>
  <div class="nucleus__contenedor">
    <div class="nucleus__grid">
      <div class="nucleus__imagen">
        <img src="/assets/img/app_2.svg" alt="app nucleus" />
      </div>

      <div class="listado">
        <div class="listado__elemento">
          <h2 class="listado__heading">Gana Más y Vende Más, Sin Comisiones</h2>
          <p class="listado__texto">
            Con Whappstore, tus ventas aumentarán sin esfuerzo y lo mejor de todo: ¡Sin comisiones por venta! Todo lo que vendes es
            para ti, maximiza tus ganancias mientras vendes más y más fácilmente.
          </p>
        </div>
        <div class="listado__elemento">
          <h2 class="listado__heading">Sencillo y Eficaz</h2>
          <p class="listado__texto">
            Regístrate, añade tus productos y comienza a recibir pedidos por WhatsApp en tan solo unas horas. ¡
            WhappStore facilita la venta de tus productos directamente desde tu chat favorito!
          </p>
        </div>

        <div class="listado__elemento">
          <h2 class="listado__heading">Seguridad Garantizada</h2>
          <p class="listado__texto">
            Con nuestra tecnología avanzada, WhappStore asegura que tus datos y pedidos estén protegidos en todo
            momento. ¡Vende con confianza!
          </p>
        </div>

       

      </div>
    </div>
  </div>
</main>
<section class="seguridad">
  <div class="seguridad__contenedor">
    <h2 class="seguridad__heading">¿Cómo funciona?</h2>
    <div class="seguridad__grid">
      <div class="listado">
        <div class="listado__elemento">
          <p class="listado__texto">
            WhatsMeal ofrece una plataforma segura para gestionar pedidos y ventas a través de WhatsApp.
          </p>
        </div>

        <div class="listado__elemento">
          <p class="listado__texto">
            El sistema permite a los negocios crear y gestionar catálogos de productos fácilmente, actualizando
            productos, categorías, variantes y extras sin complicaciones.
          </p>
        </div>

        <div class="listado__elemento">
          <p class="listado__texto">
            Los clientes pueden realizar pedidos a través de WhatsApp de forma sencilla, utilizando una interfaz
            intuitiva y atractiva que hace que el proceso de compra sea rápido y eficiente.
          </p>
        </div>

        <div class="listado__elemento">
          <p class="listado__texto">
            Una vez que un pedido está listo, puedes cambiar el estado a "Entregado" y enviar mensajes automáticos a tus
            clientes, informándoles que su pedido está en camino.
          </p>
        </div>

        <div class="listado__elemento">
          <p class="listado__texto">
            WhatsMeal garantiza la seguridad de tus transacciones y datos, proporcionando una experiencia confiable
            tanto para los negocios como para los clientes.
          </p>
        </div>
      </div>

      <div class="seguridad__imagen">
        <img src="/assets/img/seguridad.png" alt="seguridad nucleus" />
      </div>
    </div>
  </div>
</section>

<app-plans></app-plans>


<section class="testimoniales">
  <div class="testimoniales__contenedor">
    <h2 class="testimoniales__heading">Testimoniales</h2>

    <div class="testimoniales__grid">
      <div class="testimonial">
        <p class="testimonial__texto">
          Excelente app, muy sencillo de manejar y enviar dinero
        </p>
        <p class="testimonial__autor">- Juan De la torre</p>
      </div>

      <div class="testimonial">
        <p class="testimonial__texto">
          Excelente app, muy sencillo de manejar y enviar dinero
        </p>
        <p class="testimonial__autor">- Juan De la torre</p>
      </div>

      <div class="testimonial">
        <p class="testimonial__texto">
          Excelente app, muy sencillo de manejar y enviar dinero
        </p>
        <p class="testimonial__autor">- Juan De la torre</p>
      </div>

      <div class="testimonial">
        <p class="testimonial__texto">
          Excelente app, muy sencillo de manejar y enviar dinero
        </p>
        <p class="testimonial__autor">- Juan De la torre</p>
      </div>

      <div class="testimonial">
        <p class="testimonial__texto">
          Excelente app, muy sencillo de manejar y enviar dinero
        </p>
        <p class="testimonial__autor">- Juan De la torre</p>
      </div>

      <div class="testimonial">
        <p class="testimonial__texto">
          Excelente app, muy sencillo de manejar y enviar dinero
        </p>
        <p class="testimonial__autor">- Juan De la torre</p>
      </div>
    </div>
  </div>
</section>