<footer class="footer" [ngClass]="darkMode ? 'dark' : ''">
  <div class="footer__copy container">
    <div class="footer__p">
      <p>© Copyright {{ date }} Food, Todos los derechos reservados.</p>
      <p routerLink="/login" style="cursor: pointer;">Enlace útil : Admin</p>
    </div>
    <div class="footer__follow">
      <p>Síguenos</p>
      <div class="footer__icons" *ngIf="socialMedias">
        <a *ngIf="socialMedias.facebook" [href]="socialMedias.facebook" target="_blank"><i class="pi pi-facebook" style="font-size: 2rem"></i></a>
        <a *ngIf="socialMedias.instagram" [href]="socialMedias.instagram" target="_blank"><i class="pi pi-instagram" style="font-size: 2rem"></i></a>
        <a *ngIf="socialMedias.tiktok" [href]="socialMedias.tiktok" target="_blank"><i class="pi pi-tiktok" style="font-size: 2rem"></i></a>
        <a *ngIf="socialMedias.twitter" [href]="socialMedias.twitter" target="_blank"> <i class="pi pi-twitter" style="font-size: 2rem"></i></a>
      </div>
    </div>
  </div>
</footer>