<!-- <footer class="footer" [ngClass]="darkMode ? 'dark' : ''">
  <div *ngIf="is768px" class="footer__container">
    <div class="footer__categories">
      <h3>Category</h3>
      <div class="footer__flex">
        <ul class="footer__ul">
          <li class="footer__li">Vegetables & Fruits</li>
          <li class="footer__li">Breakfast & instant food</li>
          <li class="footer__li">Bakery & Biscuits</li>
          <li class="footer__li">Atta, rice & dal</li>
          <li class="footer__li">Sauces & spreads</li>
          <li class="footer__li">Organic & gourmet</li>
        </ul>
        <ul class="footer__ul">
          <li class="footer__li">Masala, oil & more</li>
          <li class="footer__li">Chicken, meat & fish</li>
          <li class="footer__li">Paan corner</li>
          <li class="footer__li">Pharma & wellness</li>
          <li class="footer__li">Home & office</li>
          <li class="footer__li">Pet care</li>
        </ul>
        <ul class="footer__ul">
          <li class="footer__li">Vegetables & Fruits</li>
          <li class="footer__li">Breakfast & instant food</li>
          <li class="footer__li">Bakery & Biscuits</li>
          <li class="footer__li">Atta, rice & dal</li>
          <li class="footer__li">Sauces & spreads</li>
          <li class="footer__li">Organic & gourmet</li>
        </ul>
        <ul class="footer__ul">
          <li class="footer__li">Masala, oil & more</li>
          <li class="footer__li">Chicken, meat & fish</li>
          <li class="footer__li">Paan corner</li>
          <li class="footer__li">Pharma & wellness</li>
          <li class="footer__li">Home & office</li>
          <li class="footer__li">Pet care</li>
        </ul>
      </div>
    </div>

    <div class="footer__links">
      <h3>Useful Links</h3>
      <div class="footer__flex">
        <ul class="footer__ul">
          <li class="footer__li">Home</li>
          <li class="footer__li">Listing</li>
          <li class="footer__li">Checkout</li>
          <li class="footer__li">Product Detail</li>
          <li class="footer__li">My Account</li>
          <li class="footer__li">FAQ</li>
        </ul>
        <ul class="footer__ul">
          <li class="footer__li">My Addresses</li>
          <li class="footer__li">My Order</li>
          <li class="footer__li">My Wallet</li>
          <li class="footer__li">Saved Address</li>
          <li class="footer__li">Express</li>
          <li class="footer__li">Seller</li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="is768px" class="footer__icons container">
    <div class="footer__payment">
      <h4>Payment Partners</h4>
      <ul class="footer__images">
        <li><img src="/assets/img/p3.svg" alt="logo" /></li>
        <li><img src="/assets/img/p4.svg" alt="logo" /></li>
        <li><img src="/assets/img/p5.svg" alt="logo" /></li>
        <li><img src="/assets/img/p8.svg" alt="logo" /></li>
      </ul>
    </div>
    <div  class="footer__app">
      <h4>Get deliveries with App</h4>
      <ul class="footer__images">
        <li><img src="/assets/img/appstore-btn.svg" alt="logo" /></li>
        <li><img src="/assets/img/googleplay-btn.svg" alt="logo" /></li>
      </ul>
    </div>
  </div>
  <div class="footer__copy container">
    <div class="footer__p">
      <p>© Copyright {{ date }} Company Name, All rights reserved.</p>
    </div>
    <div class="footer__follow">
      <p>Follow us</p>
      <div class="footer__icons">
        <img src="/assets/img/face.svg" alt="">
        <img src="/assets/img/insta.svg" alt="">
        <img src="/assets/img/twitter.svg" alt="">
      </div>
    </div>
  </div>
</footer> -->
<footer class="footer" [ngClass]="darkMode ? 'dark' : ''">
  <div *ngIf="is768px" class="footer__container">
    <div class="footer__categories">
      <h3>Categorías</h3>
      <div class="footer__flex">
        <ul class="footer__ul">
          <li class="footer__li">Verduras y Frutas</li>
          <li class="footer__li">Desayuno y comida instantánea</li>
          <li class="footer__li">Panadería y Galletas</li>
          <li class="footer__li">Harina, arroz y legumbres</li>
          <li class="footer__li">Salsas y untables</li>
          <li class="footer__li">Orgánico y gourmet</li>
        </ul>
        <ul class="footer__ul">
          <li class="footer__li">Especias, aceite y más</li>
          <li class="footer__li">Pollo, carne y pescado</li>
          <li class="footer__li">Esquina de Paan</li>
          <li class="footer__li">Farmacia y bienestar</li>
          <li class="footer__li">Hogar y oficina</li>
          <li class="footer__li">Cuidado de mascotas</li>
        </ul>
        <ul class="footer__ul">
          <li class="footer__li">Verduras y Frutas</li>
          <li class="footer__li">Desayuno y comida instantánea</li>
          <li class="footer__li">Panadería y Galletas</li>
          <li class="footer__li">Harina, arroz y legumbres</li>
          <li class="footer__li">Salsas y untables</li>
          <li class="footer__li">Orgánico y gourmet</li>
        </ul>
        <ul class="footer__ul">
          <li class="footer__li">Especias, aceite y más</li>
          <li class="footer__li">Pollo, carne y pescado</li>
          <li class="footer__li">Esquina de Paan</li>
          <li class="footer__li">Farmacia y bienestar</li>
          <li class="footer__li">Hogar y oficina</li>
          <li class="footer__li">Cuidado de mascotas</li>
        </ul>
      </div>
    </div>

    <div class="footer__links">
      <h3>Enlaces Útiles</h3>
      <div class="footer__flex">
        <ul class="footer__ul">
          <li class="footer__li" routerLink="/login">Mi Cuenta - Admin</li>
          <li class="footer__li">Inicio</li>
          <li class="footer__li">Listado</li>
          <li class="footer__li">Pago</li>
          <li class="footer__li">Detalle del Producto</li>    
          <li class="footer__li">Preguntas Frecuentes</li>
        </ul>
        <ul class="footer__ul">
          <li class="footer__li">Mis Direcciones</li>
          <li class="footer__li">Mis Pedidos</li>
          <li class="footer__li">Mi Cartera</li>
          <li class="footer__li">Dirección Guardada</li>
          <li class="footer__li">Exprés</li>
          <li class="footer__li">Vendedor</li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="is768px" class="footer__icons container">
    <div class="footer__payment">
      <h4>Socios de Pago</h4>
      <ul class="footer__images">
        <li><img src="/assets/img/p3.svg" alt="logo" /></li>
        <li><img src="/assets/img/p4.svg" alt="logo" /></li>
        <li><img src="/assets/img/p5.svg" alt="logo" /></li>
        <li><img src="/assets/img/p8.svg" alt="logo" /></li>
      </ul>
    </div>
    <div  class="footer__app">
      <h4>Recibe entregas con la App</h4>
      <ul class="footer__images">
        <li><img src="/assets/img/appstore-btn.svg" alt="logo" /></li>
        <li><img src="/assets/img/googleplay-btn.svg" alt="logo" /></li>
      </ul>
    </div>
  </div>
  <div class="footer__copy container">
    <div class="footer__p">
      <p>© Copyright {{ date }} Food, Todos los derechos reservados.</p>
      <p routerLink="/login" style="cursor: pointer;">Enlace útil : Admin</p>
    </div>
    <div class="footer__follow">
      <p>Síguenos</p>
      <div class="footer__icons">
        <img src="/assets/img/face.svg" alt="">
        <img src="/assets/img/insta.svg" alt="">
        <img src="/assets/img/twitter.svg" alt="">
      </div>
    </div>
  </div>
</footer>
